.header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.header-logo-container > h1 {
  letter-spacing: -02px;
}

.header-logo-container > img {
  width: 50px;
}

.header-content-container {
  margin: 3rem auto 0 auto;
  width: 25rem;

  position: relative;
  display: flex;
}

.background-border {
  width: 100%;
  position: absolute;
  top: 1.5rem;
  z-index: 0;
  background-color: rgb(224, 224, 224);
  border: 0.5px solid rgb(224, 224, 224);
  display: flex;
  justify-content: flex-start;
}
.filled-border {
  position: absolute;
  top: 1.5rem;
  z-index: 0;
  background-color: var(--PRIMARY-COLOR);
  border: 0.5px solid var(--PRIMARY-COLOR);
  display: flex;
  justify-content: flex-start;
}

.boarding-progress-container {
  /* width: 25rem; */
  width: inherit;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.boarding {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid rgb(224, 224, 224);
  background-color: white;
  color: rgb(142, 142, 142);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filled {
  background: var(--PRIMARY-COLOR);
  color: white;
}

@media (max-width: 480px) {
  .header-content-container {
    width: 20rem;
  }
}
